<div class="advantages-firm-wrapper">
    <div class="container">
        <section class="advantages-firm">
            <h2 class="advantages-firm__header">ПРЕИМУЩЕСТВА НАШЕЙ КОМПАНИИ</h2>
            <div class="advantages-firm__list">
                <div class="advantages-firm__item">
                    <div class="advantages-firm__icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                    <div class="advantages-firm__name">ОТЛИЧНЫЕ ЦЕНЫ</div>
                </div>
                <div class="advantages-firm__item">
                    <div class="advantages-firm__icon"><i class="fa fa-university" aria-hidden="true"></i></div>
                    <div class="advantages-firm__name">ОПЫТ РАБОТЫ 12 ЛЕТ</div>
                </div>
                <div class="advantages-firm__item">
                    <div class="advantages-firm__icon"><i class="fa fa-expand" aria-hidden="true"></i></div>
                    <div class="advantages-firm__name">ЗАМЕР В ДЕНЬ ОБРАЩЕНИЯ</div>
                </div>
                <div class="advantages-firm__item">
                    <div class="advantages-firm__icon">10</i></div>
                    <div class="advantages-firm__name">ЛЕТ ГАРАНТИИ</div>
                </div>
                <div class="advantages-firm__item">
                    <div class="advantages-firm__icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="advantages-firm__name">УСТАНОВКА ЗА 1 ДЕНЬ</div>
                </div>
            </div>
            <button class="button button--advantages-item button--to-form">узнать больше</button>
        </section>
    </div>
</div>