<div class="container">
    <section class="advantages">
        <h2 id="advantages" class="advantages__header">ПРЕИМУЩЕСТВА НАТЯЖНЫХ ПОТОЛКОВ</h2>
        <div class="advantages__list">
            <div class="advantages__item">
                <div class="advantages__icon"><i class="fa fa-star" aria-hidden="true"></i></div>
                <div class="advantages__name">ИДЕАЛЬНАЯ ПОВЕРХНОСТЬ</div>
                <div class="advantages__description">Скроет все недостатки.</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon"><i class="fa fa-university" aria-hidden="true"></i></div>
                <div class="advantages__name">ДОЛГОВЕЧНОСТЬ</div>
                <div class="advantages__description">Забываете о ремонте потолка на 15 лет.</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon"><i class="fa fa-child" aria-hidden="true"></i></div>
                <div class="advantages__name">НЕ КРАДЕТ ПРОСТРАНСТВО</div>
                <div class="advantages__description">Требуется всего 4 см.</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon"><i class="fa fa-usd" aria-hidden="true"></i></div>
                <div class="advantages__name">ВЫГОДНЫЕ ПО ЦЕНЕ</div>
                <div class="advantages__description">Сохранит ваш бюджет.</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon"><i class="fa fa-tint" aria-hidden="true"></i></div>
                <div class="advantages__name">ЗАЩИТА ОТ ПРОТЕЧЕК</div>
                <div class="advantages__description">Выдерживают до 100 литров воды на 1 м<sup>2</sup>.</div>
            </div>
        </div>
        <button class="button button--to-form">узнать больше</button>
    </section>
</div>