<section class="calculator">
    <h2 class="visually-hidden">Калькулятор натяжных потолков</h2>
    <div class="calculator_wraper">
        <div id="calculator" class="calculator__text">Двигайте ползунок <br> чтобы узнать <span class="yellow-text">цену</span> на ваш
            потолок
        </div>
        <div class="calculator__range"><input type="text" id="example_id" name="example_name" value=""/></div>
        <div class="calculator__square">Площадь: <span
                class="calculator__square-number yellow-text yellow-text--calculator"> 10 м2</span></div>
        <div class="calculator__price">Стоимость**: <span
                class="calculator__price-number yellow-text yellow-text--calculator">2000 грн</span></div>
        <div class="calculator__description">**Примерная стоимость с учетом доставки и монтажных работ</div>
        <button class="button butoon--calculator">узнать точную цену</button>
    </div>
</section>

