<div class="container">
    <section class="ceilings-types">
        <h2 class="ceilings-types__header">КАКИЕ ПОТОЛКИ МЫ ДЕЛАЕМ?</h2>
        <ul class="ceilings-types__list">
            <li class="ceilings-types__item ceilings-types__item--active">ВСЕ</li>
            <li class="ceilings-types__item">МАТОВЫЕ</li>
            <li class="ceilings-types__item">ГЛЯНЦЕВЫЕ</li>
            <li class="ceilings-types__item">САТИНОВЫЕ</li>
            <li class="ceilings-types__item">МНОГОУРОВНЕВЫЕ</li>
            <li class="ceilings-types__item">ДИЗАЙНЕРСКИЕ</li>
        </ul>
        <ul class="ceilings-types__photos">
            <li class="ceilings-types__photo"><img src="images/types/lak.jpg" alt="ГЛЯНЦЕВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/satin.jpg" alt="САТИНОВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/level.jpg" alt="МНОГОУРОВНЕВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/foto.jpg" alt="ДИЗАЙНЕРСКИЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/mat.jpg" alt="МАТОВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/mat2.jpg" alt="МАТОВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/mat3.jpg" alt="МАТОВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/lak2.jpg" alt="ГЛЯНЦЕВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/lak3.jpg" alt="ГЛЯНЦЕВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/satin1.jpg" alt="САТИНОВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/satin2.jpg" alt="САТИНОВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/level2.jpg" alt="МНОГОУРОВНЕВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/level3.jpg" alt="МНОГОУРОВНЕВЫЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/foto2.jpg" alt="ДИЗАЙНЕРСКИЕ" class="ceilings-types__img"></li>
            <li class="ceilings-types__photo"><img src="images/types/foto3.jpg" alt="ДИЗАЙНЕРСКИЕ" class="ceilings-types__img"></li>
        </ul>
    </section>
</div>