<div class="form-layer">
    <form class="form" action="mail.php" method="POST">
        <div class="close-button">
            <span class="close-button__before"></span>
            <span class="close-button__after"></span>
        </div>
        <div class="form__form-before">
            <input class="form__input" type="text" name="name" placeholder="ВАШЕ ИМЯ" required>
            <input class="form__input" type="tel" name="phone" placeholder="ВАШ ТЕЛЕФОН" required><br>
            <input class="button button--send" type="submit" value="отправить данные">
        </div>
        <div class="form__form-after">
            Спасибо! Мы свяжемся с Вами в ближайшее время
        </div>
    </form>
</div>