<header class="header-main">
    <h1 class="visually-hidden">Натяжные потолки Киев</h1>
    <div class="header-main__top">
        <div class="logo">
            <a href="index.html" class="logo__top">отличные потолки</a>
            <a href="index.html" class="logo__bottom">установка натяжных потолков в киеве</a>
        </div>
        <a href="tel:+380671111111" class="phone"><i class="fa fa-phone" aria-hidden="true"></i>(067) 111-11-11</a>
        <div class="hamburger">
            <span class="hamburger__before"></span>
            <span class="hamburger__main"></span>
            <span class="hamburger__after"></span>
        </div>
    </div>
    <div class="menu-wraper"></div>
    <div class="menu">
        <ul class="menu__list">
            <li class="menu__item"><a href="#advantages" class="menu__link">ПРЕИМУЩЕСТВА</a></li>
            <li class="menu__item"><a href="#ceilings-types" class="menu__link">ТИПЫ ПОТОЛКОВ</a></li>
            <li class="menu__item"><a href="#calculator" class="menu__link">КАЛЬКУЛЯТОР</a></li>
            <li class="menu__item"><a href="#comments" class="menu__link">ОТЗЫВЫ</a></li>
            <li class="menu__item"><a href="#works" class="menu__link">НАШИ РАБОТЫ</a></li>
            <li class="menu__item"><a href="#price" class="menu__link">ЦЕНЫ</a></li>
            <li class="menu__item"><a href="#footer" class="menu__link">КОНТАКТЫ</a></li>
        </ul>
    </div>

    <div class="header-main__center">
        <div class="header-main__best-price-text">
            Лучшая <span class="yellow-text">цена</span> в Киеве и области!
        </div>
        <div class="header-main__promo">
            Установка потолков по акции до <br><span class="yellow-text">30 ДЕКАБРЯ</span> по скидке до <span
                class="yellow-text">25%</span>
        </div>
        <form class="form form__header" action="" method="get">
            <input class="input" type="text" placeholder="ВАШЕ ИМЯ">
            <input class="input" type="tel" value="+380"><br>
            <input class="button" type="submit" value="получить скидку">
        </form>
    </div>
</header>