<section class="price">
    <div id="price" class="price__header">ЦЕНЫ НА ПОТОЛКИ</div>
    <div class="price__wrapper">
        <table class="price__table">
            <tr>
                <td class="price__product">Потолки БЕЛЬГИЯ (без шва)</td>
                <td class="price__number">120 грн/м2</td>
            </tr>
            <tr>
                <td class="price__product">Потолки ГЕРМАНИЯ (без шва)</td>
                <td class="price__number">150 грн/м2</td>
            </tr>
            <tr>
                <td class="price__product">Потолки ФРАНЦИЯ (без шва)</td>
                <td class="price__number">170 грн/м2</td>
            </tr>
            <tr>
                <td class="price__product">Потолки ИСПАНИЯ (без шва)</td>
                <td class="price__number">190 грн/м2</td>
            </tr>
            <tr>
                <td class="price__product">Потолки ИТАЛИЯ (без шва)</td>
                <td class="price__number">210 грн/м2</td>
            </tr>
        </table>
    </div>
    <button class="button price__button button--to-form">ПОЛУЧИТЬ ТОЧНЫЙ РАСЧЕТ</button>
</section>