<section class="works__wrapper">
    <h2 id="works" class="works__header">наши работы</h2>
    <div class="works">
        <div class="works__item"><img data-lazy="images/works/1.jpg" alt="" class="works__img"></div>
        <div class="works__item"><img data-lazy="images/works/2.jpg" alt="" class="works__img"></div>
        <div class="works__item"><img data-lazy="images/works/3.jpg" alt="" class="works__img"></div>
        <div class="works__item"><img data-lazy="images/works/4.jpg" alt="" class="works__img"></div>
        <div class="works__item"><img data-lazy="images/works/5.jpg" alt="" class="works__img"></div>
        <div class="works__item"><img data-lazy="images/works/6.jpg" alt="" class="works__img"></div>
        <div class="works__item"><img data-lazy="images/works/7.jpg" alt="" class="works__img"></div>
        <div class="works__item"><img data-lazy="images/works/8.jpg" alt="" class="works__img"></div>
        <div class="works__item"><img data-lazy="images/works/9.jpg" alt="" class="works__img"></div>
    </div>
</section>