<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
          content="Предлагаем качественные натяжные потолки с установкой в Киеве и области. ✔Качественные материалы ✔Быстрый монтаж ✔Бесплатный замер. тел. (067) 551-23-20"/>

    <meta name="keywords"
          content="натяжные потолки,киев,цена,цены,отзывы,фото,натяжной потолок,монтаж,в киеве,в области,зеркальный,французский,немецкий,потолок,потолки,матовый,глянцевый,сатиновый,многоуровневый,парящий,монтаж,установка"/>
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <title>Отличные потолки</title>
</head>
<body>
//= sections/header.html
//= sections/advantages.html
//= sections/advantages-firm.html
//= sections/ceilings-types.html
//= sections/calculator.html
//= sections/comments.html
//= sections/works.html
//= sections/price.html
//= sections/footer.html
//= sections/form.html
<script src="js/main.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
</body>
</html>