.works__wrapper {
  border-top: 2px solid $orange;
}

.works__header {
  font-size: 2.1875rem;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.works img {
  display: block !important;
  width: 100% !important;
  margin: auto;
}